                ----------
                Quickstart
                ----------

Quickstart

    Add ${project.artifactId} to your project. If you're using Maven add the following dependency to your pom. (You can
    also use ${project.name} with {{{./dependency-info.html}other build systems}}.)

+--
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
</dependency>
+--

    Then write a test that needs a spring context.

+--
public class SomeTest {

    @Rule
    public SpringContext springContext = SpringContext.builder()
            .withConfig(SomeConfig.class, MoreConfig.class)
            .build();

    @Test
    public void someTestUsingFooService() {
        FooService fooService = springContext.getBean(FooService.class);
        Object result = fooService.performAction();
        // various assertions
    }

}
+--

* Autowiring

    But I don't want to keep retrieving beans from the SpringContext. Don't worry, the SpringContext rule supports
    autowiring.

+--
@Autowired
private FooService fooService;

@Autowired
private BarRepository;

@Rule
public SpringContext springContext = SpringContext.builder()
        .withConfig(SomeConfig.class, MoreConfig.class)
        .autowire(this)
        .build();
+--

* Mocks

    It's straightforward to use mock objects as beans in a SpringContext.

+--
import static org.mockito.Mockito.*

public class TestWithMocks {

    @Configuration
    public static class MockConfig {
        @Bean
        public FooRepository fooRepository() {
            return mock(FooRepository.class);
        }
    }

    @Rule
    public SpringContext springContext = SpringContext.builder()
            .withConfig(ServiceConfig.class, MockConfig.class)
            .build();

    @Test
    public void systemShouldBehaveInSomeManner() {
        final FooRepository mockFooRepository = springContext.getBean(FooRepository.class);
        final Foo xyzFoo = ....
        when(mockFooRepository.load("xyz")).thenReturn(xyzFoo);
        ...
    }
}
+--

